@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
}

.sectionContainer {
  padding-top: 11rem;
  padding-bottom: 11rem;
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.sectionContainer p {
  font-size: 2.4rem;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 2.4rem;
}

.sectionContainer span {
  line-height: 1.5;
}

.sectionContainer h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.sectionContainer .desc {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10rem;
  display: block;
}

.seperate-span {
  width: 60px;
  height: 3px;
  display: block;
  background-color: #f38181;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

header {
  background: url("../images/header-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header .headerContainer {
  position: relative;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 29px;
}

header .headerContainer nav {
  text-align: justify;
}

header .headerContainer nav::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header .headerContainer nav .list {
  display: inline-block;
}

header .headerContainer nav .title {
  display: inline-block;
}

header .headerContainer nav .title h1 {
  font-size: 3rem;
}

header .headerContainer a {
  color: white;
  text-decoration: none;
  margin-left: 58px;
  font-size: 1.4rem;
}

header .headerContainer a:hover {
  color: #fce38a;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fce38a;
}

header .headerContainer img {
  cursor: pointer;
}

header .headerContainer .headerCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

header .headerContainer .headerCenter span {
  background: white;
}

header .headerContainer .headerCenter p {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 6rem;
}

header .headerContainer .headerCenter h1 {
  font-weight: bold;
  font-size: 150px;
}

header .headerContainer .headerCenter button {
  width: 160px;
  height: 40px;
  background: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

header .headerContainer .headerBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 2.8rem;
  font-size: 0;
}

header .headerContainer .headerBottom div {
  display: inline-block;
  width: 25%;
  font-size: 18px;
  cursor: pointer;
}

header .headerContainer .headerBottom div b {
  font-size: 24px;
}

header .headerContainer .headerBottom div .hoverContainer {
  width: 100%;
  margin-bottom: 2.5rem;
}

header .headerContainer .headerBottom div .hoverContainer .bottom-nav-el {
  display: block;
  width: 280px;
  height: 0.3rem;
  background: #e6e6e6;
}

header .headerContainer .headerBottom div .hoverContainer .span-hover {
  background: #f38181;
  height: 3px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

header .headerContainer .headerBottom div:hover .hoverContainer .span-hover {
  width: 7rem;
}

#about .about-img .image {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#about .about-img .image:hover {
  -webkit-box-shadow: 0px 0px 0px 200px rgba(243, 129, 129, 0.7) inset, 10px 10px 0px 0px #95e1d3;
          box-shadow: 0px 0px 0px 200px rgba(243, 129, 129, 0.7) inset, 10px 10px 0px 0px #95e1d3;
}

#about .about-img .image:hover .img-hover-span {
  opacity: 1;
}

#about .about-img .image .img-hover-span {
  position: absolute;
  color: white;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#about .about-img .image .img-hover-span span {
  display: block;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#about .about-img .img-1 {
  background: url("../images/about-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 31%;
  height: 250px;
}

#about .about-img .img-2 {
  background: url("../images/about-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 31%;
  height: 250px;
  margin: 0 3rem;
}

#about .about-img .img-3 {
  background: url("../images/about-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 31%;
  height: 250px;
}

.full-width-counter {
  background-color: #95e1d3;
}

.full-width-counter .container {
  font-size: 0;
}

.full-width-counter .container .outer {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #e4e4e4;
  height: 100%;
}

.full-width-counter .container .outer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 25%;
}

.full-width-counter .container .outer .inner h1 {
  font-size: 7.2rem;
  margin-bottom: 1rem;
}

.full-width-counter .container .outer .inner p {
  font-size: 1.4rem;
}

.full-width-counter .container .last {
  border-right: 0;
}

#services .bottom-row {
  border-top: 1px solid #999999;
  padding-top: 3rem;
}

#services .service-row {
  font-size: 0;
}

#services .service-row .service {
  display: inline-block;
  width: 32%;
}

#services .service-row .service img {
  display: inline-block;
  vertical-align: top;
  width: 7%;
  margin-right: 5%;
}

#services .service-row .service div {
  display: inline-block;
  width: 88%;
  text-align: left;
}

#services .service-row .service div h1 {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

#services .service-row .service div p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 1.5;
}

#services .service-row .service-middle {
  margin: 0 1rem;
}

#design {
  background: url("../images/design-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 90vh;
}

#design .sectionContainer {
  height: 100%;
}

#design .sectionContainer img {
  width: 450px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#design .sectionContainer .mobile {
  width: 300px;
  left: 63%;
  bottom: -11rem;
}

#service .sectionContainer div {
  font-size: 0;
}

#service .sectionContainer div .service-img {
  display: inline-block;
  width: 47%;
  margin-right: 3%;
}

#service .sectionContainer div .details-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

#service .sectionContainer div .details-container details {
  border: 1px solid #999999;
  margin-bottom: 1rem;
}

#service .sectionContainer div .details-container details .faq-line {
  background: #999999;
  width: 100%;
  height: 1px;
  display: block;
}

#service .sectionContainer div .details-container details .faq-content {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
  max-height: 100px;
  overflow-x: auto;
}

#service .sectionContainer div .details-container details summary {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  list-style: none;
}

#service .sectionContainer div .details-container details summary .summary-icon {
  width: 25px;
  vertical-align: middle;
  margin-right: 1rem;
}

#service .sectionContainer div .details-container details summary span {
  vertical-align: middle;
}

#service .sectionContainer div .details-container details i {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}

.full-width-comments {
  background: #f8f8f8;
}

.full-width-comments .container {
  font-size: 0;
}

.full-width-comments .container::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.full-width-comments .container div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 5%;
}

.full-width-comments .container div::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.full-width-comments .container .comment-content {
  width: 90%;
}

.full-width-comments .container .comment-content .comment-text {
  width: 70%;
  text-align: left;
}

.full-width-comments .container .comment-content .comment-text .comment {
  font-size: 2.4rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
}

.full-width-comments .container .comment-content .comment-text .author-container {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}

.full-width-comments .container .comment-content .comment-text .author-container .author {
  font-size: 2.4rem;
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  vertical-align: middle;
}

.full-width-comments .container .comment-content .comment-text .author-container .author-line {
  display: inline-block;
  margin-right: 2rem;
}

.full-width-comments .container .comment-content .comment-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
}

#work .desc {
  margin: 0;
}

details > summary::after {
  position: absolute;
  content: '+';
  right: 20px;
}

details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}

details > summary::-webkit-details-marker {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #d4d4d4;
          box-shadow: inset 0 0 5px #d4d4d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #95e1d3;
}
/*# sourceMappingURL=style.css.map */