@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

header {
  background: url("../images/header-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header .headerContainer {
  position: relative;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 29px;
}

header .headerContainer nav {
  text-align: justify;
}

header .headerContainer nav::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header .headerContainer nav .list {
  display: inline-block;
}

header .headerContainer nav .title {
  display: inline-block;
}

header .headerContainer nav .title h1 {
  font-size: 30px;
}

header .headerContainer a {
  color: white;
  text-decoration: none;
  margin-left: 58px;
  font-size: 14px;
}

header .headerContainer a:hover {
  color: #fce38a;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fce38a;
}

header .headerContainer img {
  cursor: pointer;
}

header .headerContainer .headerCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

header .headerContainer .headerCenter p {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 6rem;
}

header .headerContainer .headerCenter h1 {
  font-weight: bold;
  font-size: 150px;
}

header .headerContainer .headerCenter span {
  width: 60px;
  height: 3px;
  display: block;
  background-color: white;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

header .headerContainer .headerCenter button {
  width: 160px;
  height: 40px;
  background: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

header .headerContainer .headerBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 2.8rem;
  font-size: 0;
}

header .headerContainer .headerBottom div {
  display: inline-block;
  width: 25%;
  font-size: 18px;
}

header .headerContainer .headerBottom div b {
  font-size: 24px;
}

header .headerContainer .headerBottom div .hoverContainer {
  width: 100%;
  margin-bottom: 2.5rem;
}

header .headerContainer .headerBottom div .hoverContainer .bottom-nav-el {
  display: block;
  width: 280px;
  height: 0.3rem;
  background: #e6e6e6;
}

header .headerContainer .headerBottom div .hoverContainer .span-hover {
  background: #f38181;
  height: 3px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

header .headerContainer .headerBottom div:hover .hoverContainer .span-hover {
  width: 7rem;
}
/*# sourceMappingURL=style.css.map */