* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html::before {
    background-color: rgba(31, 2, 2, 0.5);
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

main {
    max-width: 1100px;
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 5rem;
}

section {
    display: inline-block;
    max-width: 500px;
    vertical-align: middle;
    margin: 1rem;
}

main section:nth-child(1) {
    text-align: left;

}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p, span {
    opacity: 0.8;
    line-height: 1.4;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 2px;
    border: none;
    width: 100%;
    margin: 0.5rem 0;
    font-weight: bold;
}

input[type='submit'] {
    font-weight: bold;
    background-color: rgb(255, 123, 15);
    color: white;
}